.card[data-v-cb69c39c]{background-color:#000!important;background-image:var(--2a200ec1);background-position:bottom;background-size:cover;border:3mm solid #000;border-radius:3mm;box-sizing:border-box;color:#fff!important;font-size:10pt;height:3.5in;position:relative;width:2.5in}.card img[data-v-cb69c39c]{height:100%}.card>div[data-v-cb69c39c]{background:rgba(0,0,0,.8);line-height:normal;padding:2px;width:100%;z-index:10}.card>div[data-v-cb69c39c]:not(:first-child){bottom:0;font-size:9pt;position:absolute}.card .stats[data-v-cb69c39c]{margin-bottom:-1.5mm;text-align:center}
