.v-menu .v-overlay__content{border-radius:4px;display:flex;flex-direction:column}.v-menu .v-overlay__content>.v-card,.v-menu .v-overlay__content>.v-list,.v-menu .v-overlay__content>.v-sheet{background:rgb(var(--v-theme-surface));border-radius:inherit;box-shadow:0 5px 5px -3px var(--v-shadow-key-umbra-opacity,rgba(0,0,0,.2)),0 8px 10px 1px var(--v-shadow-key-penumbra-opacity,rgba(0,0,0,.14)),0 3px 14px 2px var(--v-shadow-key-penumbra-opacity,rgba(0,0,0,.12));height:100%;overflow:auto}
